@using PagedList.Mvc;
@model PagedList.IPagedList<Project_3.Models.Category>
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
            <div class="card add-new-card">
                <div class="card-body p-4 row">

                    <div class="numbers">
                        <h4 class="font-weight-bolder text-center">Our Work Data</h4>
                    </div>
                    <div class="col-8">
                        <a class="add-button" href="@Url.Action("Add","OurWork")">Add</a>

                    </div>


                    <div class="search-box col-4 mt-3 mb-3">
                        @using (Html.BeginForm("Index", "OurWork", FormMethod.Get))
                        {
                            <input type="text" class="search-box-input" name="search" id="search" placeholder="Enter Our Work Name">
                            <button type="submit" class="fas fa-search search-btn"></button>
                        }
                    </div>




                    <div class="container-fluid">

                        <!-- Page Heading -->


                        <div class="card shadow mb-4">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Title 1</th>
                                                <th>Script 1</th>
                                                <th>Image 1</th>
                                                <th>Title 2</th>
                                                <th>Script 2</th>
                                                <th>Title 3</th>
                                                <th>Script 3</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Any())
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.CategoryId</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.Title1</td>
                                                        <td class="tb-text-content">@item.Script1</td>
                                                        <td>
                                                            @if (item.Img1 != null)
                                                            {
                                                                <img src="data:image; base64, @System.Convert.ToBase64String(item.Img1)" style="width:100px;" />
                                                            }
                                                        </td>
                                                        <td>@item.Title2</td>
                                                        <td class="tb-text-content">@item.Script2</td>
                                                        <td>@item.Title3</td>
                                                        <td class="tb-text-content"> @item.Script3</td>
                                                        <td class="d-flex align-items-center justify-content-around">
                                                            <a href="@Url.Action("Edit","OurWork", new {id = item.CategoryId})" data-toggle="modal"
                                                               data-target="#editModal">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="@Url.Action("Delete","OurWork", new {id = item.CategoryId})"><i class="fas fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr></tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="10" style="text-align:center; font-size:large;">
                                                        <b>No Data</b>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>

                                    </table>

                                </div>
                                <div class="center">
                                    <div class="pagination">
                                        @Html.PagedListPager(Model, p => Url.Action("Index", new { page = p, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

