@using PagedList.Mvc;
@model PagedList.IPagedList<Project_3.Models.Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
            <div class="card add-new-card">
                <div class="card-body p-4 row">

                    <div class="numbers">
                        <h4 class="font-weight-bolder text-center">Our Team Data</h4>
                    </div>
                    <div class="col-8">
                        <a class="add-button" href="@Url.Action("Add","OurTeam")">Add</a>

                    </div>
                    <div class="search-box col-4 mt-3 mb-3">
                        @using (Html.BeginForm("Index", "OurTeam", FormMethod.Get))
                        {
                            <input type="text" class="search-box-input" name="search" id="search" placeholder="Enter Member Name">
                            <button type="submit" class="fas fa-search search-btn"></button>
                        }
                    </div>
                    <div class="container-fluid">

                        <!-- Page Heading -->


                        <div class="card shadow mb-4">

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="tb-stt">ID</th>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Profession</th>
                                                <th>Bio</th>
                                                <th class="tb-action">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Any())
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.MemberId</td>
                                                        <td>
                                                            @if (item.Img != null)
                                                            {
                                                                <img src="data:image; base64, @System.Convert.ToBase64String(item.Img)" style="width:100px;" />
                                                            }
                                                        </td>
                                                        <td>@item.FullName</td>                                                        
                                                        <td> @item.Business.Name</td>
                                                        <td class="tb-text-content"> @item.Biography</td>
                                                        <td class="d-flex align-items-center justify-content-around">
                                                            <a href="@Url.Action("Edit","OurTeam", new {id = item.MemberId})" data-toggle="modal"
                                                               data-target="#editModal">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <a href="@Url.Action("Delete","OurTeam", new {id = item.MemberId})"><i class="fas fa-trash-alt"></i></a>

                                                        </td>
                                                    </tr>
                                                    <tr></tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="6" style="text-align:center; font-size:large;">
                                                        <b>No Data</b>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="center">
                                    <div class="pagination">
                                        @Html.PagedListPager(Model, p => Url.Action("Index", new { page = p, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
