@model IEnumerable<Project_3.Models.Member>
@{
    ViewBag.Title = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="item">
        <div class="slider-img"><img src="~/images/user_img/background/1.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="animated bounceInDown slider-captions background-text">
                        <h1 class="slider-title">Our Team</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--  ************************* Founder Starts Here ************************** -->

<div class="our-team container-fluid">
    <div class="container">
        <h1 class="text-start text-success">FOUNDER</h1>
        <div class="row  text-part">
            @foreach (var item in Project_3.Data.DbConnect.Db.Members.Take(2))
            {

                @*<div class="col-md-6" style="text-align: justify;">
                        @if (item.Img != null)
                        {
                            <img src="data:image; base64, @System.Convert.ToBase64String(item.Img)">
                        }
                        <h3>@item.FullName</h3>
                        <h6>@item.Business.Name</h6>
                        <div class="bio">
                            <button class="bio-info" type="button" data-toggle="collapse" data-target="#@item.MemberId">
                                <h3>Bio</h3>
                            </button>
                            <div class="collapse" id="@item.MemberId">
                                <p>
                                    @item.Biography;
                                </p>
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-4 card-member" style="text-align: justify;">
                    @if (item.Img != null)
                    {
                        <img src="data:image; base64, @System.Convert.ToBase64String(item.Img)">
                    }
                    <h3>@item.FullName</h3>
                    <h6>@item.Business.Name</h6>
                    <div class="bio">
                        <input class="btn-bio" type="submit" value="BIO" data-toggle="collapse" data-target="#@item.MemberId">
                        <div class="collapse" id="@item.MemberId">
                            <p>
                                @item.Biography;
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--  ************************* Member Starts Here ************************** -->

    <div class="our-team container-fluid">
        <div class="container">
            <h1 class="text-start text-success">MEMBERS</h1>
            <div class="row  text-part">
                @foreach (var item in Project_3.Data.DbConnect.Db.Members.Where(x => x.BusinessId != 1 && x.BusinessId != 2))
                {
                    <div class="col-md-4 card-member-under" style="text-align: justify;">
                        @if (item.Img != null)
                        {
                            <img src="data:image; base64, @System.Convert.ToBase64String(item.Img)">
                        }
                        <h3>@item.FullName</h3>
                        <h6>@item.Business.Name</h6>
                        <div class="bio">
                            <input class="btn-bio-under" type="submit" value="BIO" data-toggle="collapse" data-target="#@item.MemberId">
                            <div class="collapse" id="@item.MemberId">
                                <p>
                                    @item.Biography
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



