@{
    ViewBag.Title = "Home Page";
}

<!-- ******************** Slider Starts Here ******************* -->
<div class="slider" id="a">

    <!-- Set up your HTML -->
    <div class="owl-carousel ">
        <div class="slider-img">
            <div class="item">
                <div class="slider-img"><img src="~/images/user_img/slider/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="animated bounceInDown slider-captions">
                                <h1 class="slider-title">Donation</h1>
                                <p class="slider-text hidden-xs">A humble offering, igniting hope and possibility with each heartfelt gift.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/images/user_img/slider/slider-1.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Giving</h1>
                            <p class="slider-text hidden-xs">
                                A selfless act that echoes with compassion, uniting hearts and changing lives.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/images/user_img/slider/slider-2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Charity</h1>
                            <p class="slider-text hidden-xs">
                                An expression of empathy, transforming small gestures into profound impacts on humanity's collective journey.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-img"><img src="~/images/user_img/slider/slider-2.jpg" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                        <div class="slider-captions ">
                            <h1 class="slider-title">Philanthropy</h1>
                            <p class="slider-text hidden-xs">
                                A beacon of light in darkness, illuminating paths to a brighter, more equitable future for all.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--  ************************* About Us Starts Here ************************** -->

<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>
                    Welcome to Ngo Charitables, where our mission is clear: Help Those In Need. We're committed to creating opportunities for growth, prosperity, and dignity for all.
                </p>
                <p>
                    At Ngo Charitables, we take a holistic approach to change, addressing both immediate needs and underlying systemic issues. Through strategic partnerships and innovative programs, we strive to make a meaningful difference in the lives of those we serve.
                </p>

                <p>
                    Join us in building brighter futures and creating lasting change together.
                </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <!--insert link here-->
                            <a href="">
                                <i class="fas fa-user"></i>
                                <p>Becom a Volunteer</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <a href="">
                                <i class="fas fa-search-dollar red"></i>
                                <p>Quick Fundraise</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <!--insert link here-->
                            <a href="">
                                <i class="fas fa-donate yell"></i>
                                <p>Give Donations</p>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-qcard ">
                            <!--insert link here-->
                            <a href="">
                                <i class="fas fa-hands-helping blu"></i>
                                <p>Help Someone</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ################# Mission Vision Start Here #######################--->

<section class="container-fluid mission-vision">
    <div class="container">
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Our Mission</h1>
                <p>
                    At  Ngo Charitables, our mission is to help those in need. Through dedicated efforts and unwavering commitment, we strive to make a positive impact on the lives of individuals and communities in need. Join us in our journey to create lasting change and build a more equitable and compassionate world for all.
                </p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="@Url.Content("~/images/user_img/misin.jpg")" alt="">
            </div>
        </div>
        <div class="row vision">
            <div class="col-md-6 mv-img">
                <img src="@Url.Content("~/images/user_img/vision.jpg")" alt="">
            </div>
            <div class="col-md-6 mv-det">
                <h1>Our Vision</h1>
                <p>
                    At Ngo Charitables, our vision is to make the world a better place. We aspire to inspire and empower individuals to reach their full potential, fostering a society built on compassion, equality, and sustainable development. Together, let's work towards a future where everyone can thrive and flourish.
                </p>
            </div>
        </div>
    </div>
</section>






<!-- ################# Charity Number Starts Here#######################--->


<div class="doctor-message">
    <div class="inner-lay">
        <div class="container">
            <div class="row session-title">
                <h2>Our Achievement in Numbers</h2>
                <p>Example Text Here</p>
            </div>
            <div class="row">
                <div class="col-sm-3 numb">
                    <h3>8+</h3>
                    <span>YEARS OF EXPERIENCES</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>1 Million+</h3>
                    <span>HAPPY CHILDRENS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>100+</h3>
                    <span>EVENTS</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>69+</h3>
                    <span>FUNT RAISED</span>
                </div>
            </div>
        </div>

    </div>

</div>

<!--################### Our Team Starts Here #######################--->
<section class="our-team team-11">
    <div class="container">
        <div class="session-title row">
            <h2>Meet our Team</h2>
            <p>
                Our team included many of the most unique and great people who contributed greatly in the
                organisation
            </p>
        </div>
        <div class="row team-row">
            @foreach (var item in Project_3.Data.DbConnect.MemberList())
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        @if (item.Img != null)
                        {
                            <img src="data:image; base64, @System.Convert.ToBase64String(item.Img)" class="img-top" alt="...">
                        }
                        <div class="det-o">
                            <h4>@item.FullName</h4>
                            <i>@item.Business.Name</i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



<!-- ################# Our Blog Starts Here#######################--->

<section class="our-blog">
    <div class="container">
        <div class="row session-title">
            <h2> Our Blog </h2>
            <p>Take a look at what people say about US </p>
        </div>
        <div class="blog-row row">
            @foreach (var item in Project_3.Data.DbConnect.Db.Blogs.OrderByDescending(b=>b.BlogId).ToList().Take(3))
            {
                <div class="col-md-4 col-sm-6">
                    <div class="single-blog">
                        <figure>
                            @if (item.Img1 != null)
                            {
                                <img src="data:image; base64, @System.Convert.ToBase64String(item.Img1)" class="img-top" alt="...">
                            }
                        </figure>
                        <div class="blog-detail">
                            <small>@item.CurrentTime</small>
                            <h4>@item.Name</h4>
                            <div class="blog-contain">
                                <p class="blog-text-card">
                                    @item.Script1
                                </p>
                            </div>
                            <div class="link">
                                <a href="/Blog/Detail/@item.BlogId">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
                            </div>
                        </div>


                    </div>
                </div>
            }
        </div>
    </div>
</section>
