
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Manager", FormMethod.Post))
{
    <div class="container-fluid py-4">
        <div class="row">
            <div class="add-new-card col-xl-10 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="numbers">
                            <h4 class="font-weight-bolder text-center">Add New Data</h4>
                        </div>
                        <div class="col-8 form-data-card-title ">
                            <div class="input-form">
                                <p class="title">Username</p>
                                <input type="text" placeholder="Enter your username" name="Username">
                                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-form">
                                <p class="title">Password</p>
                                <input type="password" placeholder="Enter your password" name="Password">
                                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-form">
                                <p class="title">Full Name</p>
                                <input type="text" placeholder="Enter your full name" name="Fullname">
                                @Html.ValidationMessage("Fullname", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-form">
                                <p class="title">Email</p>
                                <input type="email" placeholder="abc@example.com" name="Email">
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-form">
                                <p class="title">Date of Birth</p>
                                <input type="date" name="Birthday">
                                @Html.ValidationMessage("Birth", "", new { @class = "text-danger" })
                            </div>
                            <div class="input-form">
                                <p class="title">Phone number</p>
                                <input type="number" placeholder="+09example" name="Phone">
                                @Html.ValidationMessage("Phone_number", "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-data-button">
                            <button type="submit" class="add-button">Save</button>

                            <a class="delete-button" href="@Url.Action("Index","Manager")">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

